*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 100vh;
    width: 100%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
h1{
    color: rgb(62, 61, 61);
}
button{
    padding: 0.7rem 1rem;
    border-radius: 0.6rem;
    background: linear-gradient(150deg, rgb(206, 206, 155),rgb(134, 193, 134));
    position: relative;
    top: 4rem;
    right: 10rem;
}
button a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}